{% macro render_post(post) %}
<div class="row">
  <div class="col-md-2 text-right metadata">
    <ul class="list-unstyled">
      <li>
        {{ post.author.name }}
        {{ post.datetime | dateformat("%d/%m/%y") }}
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <h1>
      <!-- Change post title into a link for single post view -->
      <a href="{{ url_for('view_post', id=post.id) }}">{{ post.title }}</a>
    </h1>
    {{ post.content | safe }}
  </div>
</div>
{% endmacro %}

{% macro render_single_post(post) %}
<div class="col-md-12">
  <h1>
    {{ post.title }}
  </h1>
  {{ post.content | safe }}
</div>
{% endmacro %}